@charset "UFT-8";
/* sub1 의 공통 */
/* sub1 - common - S */
.visual {background-image: url(../img/svbg_vision.jpg);}
/* sub1 - common - E */

/* sub1-3 - S */

.map{
  text-align: center;
}

.map iframe{
  width: 100%; height: 800px;
}
/* sub1-3 - E */